<div id="main">
  <div id="left">
    <h1>a cotton<br>weave.</h1>

    <div id="bottom-left">
      <div class="bottom-left-colors">
        <h5>colors</h5>
        <div class="color1"></div>
        <div class="color2"></div>
      </div>
      <h4>Details</h4>
      <p>Lorem, ipsum dolor sit amet consectetur <br>
        adipisicing elit. Necessitatibus ut, minus eos cumque, dicta <br>
        quis nemo reprehenderit ipsam pariatur aliquid quia iure <br>cupiditate beatae dolorum aliquam tempora.
      </p>
    </div>
  </div>
  <div id="right">
    <div id="right-top">
      <h4>$488</h4>
      <h5>Rating <i class="ri-star-fill"></i> <i class="ri-star-fill"></i> <i class="ri-star-fill"></i> <i
          class="ri-star-fill"></i> <i class="ri-star-fill"></i></h5>
    </div>
    <img src="assets/photo2.jpg">
    <div id="gola">
      <h3>add to bag</h3>
    </div>
    <h2 class="rotated">Cotton twill cap</h2>
  </div>

</div>